// Typography
$font-family-sans-serif: 'Rubik', sans-serif;
$font-size-base: 1.125rem;
$line-height-base: 2;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #f63e5b;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$light-gray: #eff7ff;
$gray: #36516e;

$primary: $red;
$body-color: $gray;
$body-bg: $light-gray;
$enable-responsive-font-sizes: true;